.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0 0 0 0.1);
  background-color: #fff;
}

h2{
  text-align: center;
}

.tab-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

button[type="button"],
button[type="submit"]{
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

button[type="button"] + button[type="button"],
button[type="button"] + button[type="submit"] {
  margin-left: 10px; 
  
}


button[type="button"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width:100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  .tab-navigation {
    flex-direction: column;
  }
  .tab-navigation button {
    width: 100%;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
   }
}

@media (max-width: 480px) {
  .form-container {
    padding: 10px;
  }
}

